 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1038px;
}

.u-section-1 .u-form-1 {
  height: 399px;
  width: 570px;
  margin: 156px auto 0;
}

.u-section-1 .u-input-1 {
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
}

.u-section-1 .u-input-2 {
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
}

.u-section-1 .u-input-3 {
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
}

.u-section-1 .u-btn-1 {
  background-image: none;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
}

.u-section-1 .u-list-1 {
  width: 959px;
  margin: 54px auto;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 376px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px;
}

.u-section-1 .u-group-1 {
  width: 204px;
  min-height: 160px;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 15px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 36px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: normal;
  margin: 35px 86px 0 0;
}

.u-section-1 .u-text-3 {
  font-weight: normal;
  margin: -57px 0 0 88px;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px;
}

.u-section-1 .u-group-2 {
  width: 204px;
  min-height: 160px;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 15px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: 36px auto 0;
}

.u-section-1 .u-text-5 {
  font-weight: normal;
  margin: 35px 86px 0 0;
}

.u-section-1 .u-text-6 {
  font-weight: normal;
  margin: -50px 0 0 88px;
}

.u-section-1 .u-container-layout-5 {
  padding: 10px;
}

.u-section-1 .u-group-3 {
  width: 204px;
  min-height: 160px;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-6 {
  padding: 0 15px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  margin: 36px auto 0;
}

.u-section-1 .u-text-8 {
  font-weight: normal;
  margin: 35px 86px 0 0;
}

.u-section-1 .u-text-9 {
  font-weight: normal;
  margin: -50px 0 0 88px;
}

.u-section-1 .u-container-layout-7 {
  padding: 10px;
}

.u-section-1 .u-group-4 {
  width: 204px;
  min-height: 160px;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-8 {
  padding: 0 15px;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  margin: 36px auto 0;
}

.u-section-1 .u-text-11 {
  font-weight: normal;
  margin: 35px 86px 0 0;
}

.u-section-1 .u-text-12 {
  font-weight: normal;
  margin: -50px 0 0 88px;
}

.u-section-1 .u-container-layout-9 {
  padding: 10px;
}

.u-section-1 .u-group-5 {
  width: 204px;
  min-height: 160px;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-10 {
  padding: 0 15px;
}

.u-section-1 .u-text-13 {
  font-weight: 700;
  margin: 36px auto 0;
}

.u-section-1 .u-text-14 {
  font-weight: normal;
  margin: 35px 86px 0 0;
}

.u-section-1 .u-text-15 {
  font-weight: normal;
  margin: -50px 0 0 88px;
}

.u-section-1 .u-container-layout-11 {
  padding: 10px;
}

.u-section-1 .u-group-6 {
  width: 204px;
  min-height: 160px;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-12 {
  padding: 0 15px;
}

.u-section-1 .u-text-16 {
  font-weight: 700;
  margin: 36px auto 0;
}

.u-section-1 .u-text-17 {
  font-weight: normal;
  margin: 35px 86px 0 0;
}

.u-section-1 .u-text-18 {
  font-weight: normal;
  margin: -50px 0 0 88px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-list-1 {
    width: 754px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 373px;
  }

  .u-section-1 .u-group-1 {
    min-height: 165px;
    margin-top: 37px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 29px;
  }

  .u-section-1 .u-group-2 {
    min-height: 165px;
    margin-top: 37px;
  }

  .u-section-1 .u-group-3 {
    min-height: 165px;
    margin-top: 37px;
  }

  .u-section-1 .u-group-4 {
    min-height: 165px;
    margin-top: 37px;
  }

  .u-section-1 .u-group-5 {
    min-height: 165px;
    margin-top: 37px;
  }

  .u-section-1 .u-group-6 {
    min-height: 165px;
    margin-top: 37px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1197px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 127px;
  }

  .u-section-1 .u-list-1 {
    width: 514px;
    margin-top: 36px;
    margin-bottom: 0;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 689px;
  }

  .u-section-1 .u-group-1 {
    min-height: 170px;
    margin-top: 32px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 34px;
  }

  .u-section-1 .u-group-2 {
    min-height: 170px;
    margin-top: 32px;
  }

  .u-section-1 .u-group-3 {
    min-height: 170px;
    margin-top: 32px;
  }

  .u-section-1 .u-group-4 {
    min-height: 170px;
    margin-top: 32px;
  }

  .u-section-1 .u-group-5 {
    min-height: 170px;
    margin-top: 32px;
  }

  .u-section-1 .u-group-6 {
    min-height: 170px;
    margin-top: 32px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2153px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 140px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-list-1 {
    margin-top: 56px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1422px;
  }

  .u-section-1 .u-group-1 {
    min-height: 173px;
    margin-top: 36px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-2 {
    min-height: 173px;
    margin-top: 36px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-3 {
    min-height: 173px;
    margin-top: 36px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 37px;
  }

  .u-section-1 .u-group-4 {
    min-height: 173px;
    margin-top: 36px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-5 {
    min-height: 173px;
    margin-top: 36px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-6 {
    min-height: 173px;
    margin-top: 36px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2234px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 124px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-list-1 {
    margin-top: 89px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-repeater-1 {
    grid-gap: 7px 7px;
    min-height: 1336px;
  }

  .u-section-1 .u-group-1 {
    min-height: 168px;
    margin-top: 26px;
  }

  .u-section-1 .u-group-2 {
    min-height: 168px;
    margin-top: 26px;
  }

  .u-section-1 .u-group-3 {
    min-height: 168px;
    margin-top: 26px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 32px;
  }

  .u-section-1 .u-group-4 {
    min-height: 168px;
    margin-top: 26px;
  }

  .u-section-1 .u-group-5 {
    min-height: 168px;
    margin-top: 26px;
  }

  .u-section-1 .u-group-6 {
    min-height: 168px;
    margin-top: 26px;
  }
}

.u-container-layout-111:hover {
  background-color: #6e5e51;
}