 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 450px;
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 563px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 295px;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 45px;
  margin-bottom: 45px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(25% - 75px) calc(25% - 75px) calc(25% - 75px) calc(25% - 75px);
  grid-gap: 100px 100px;
  min-height: 205px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 22px 30px 13px;
}

.u-section-2 .u-image-1 {
  height: 70px;
  width: 70px;
  margin: 0 auto;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 16px 0 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin: 8px 0 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 22px 30px 13px;
}

.u-section-2 .u-image-2 {
  height: 70px;
  width: 70px;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 16px 0 0;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin: 8px 0 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 22px 30px 13px;
}

.u-section-2 .u-image-3 {
  height: 70px;
  width: 70px;
  margin: 0 auto;
}

.u-section-2 .u-text-5 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 16px 0 0;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin: 8px 0 0;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 22px 30px 13px;
}

.u-section-2 .u-image-4 {
  height: 70px;
  width: 70px;
  margin: 0 auto;
}

.u-section-2 .u-text-7 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 16px 0 0;
}

.u-section-2 .u-text-8 {
  font-weight: 700;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin: 8px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 232px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 172px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-image-1 {
    height: 63px;
    width: 63px;
    background-position: 50% 50%;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    width: 100px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    font-size: 0.875rem;
    margin-top: 9px;
    margin-left: 46px;
    margin-right: 46px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-image-2 {
    height: 63px;
    width: 63px;
    background-position: 50% 50%;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.5rem;
    width: 100px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-4 {
    font-size: 0.875rem;
    margin-top: 9px;
    margin-left: 46px;
    margin-right: 46px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-image-3 {
    height: 63px;
    width: 63px;
    background-position: 50% 50%;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.5rem;
    width: 100px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-6 {
    font-size: 0.875rem;
    margin-top: 9px;
    margin-left: 46px;
    margin-right: 46px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-image-4 {
    height: 63px;
    width: 63px;
    background-position: 50% 50%;
  }

  .u-section-2 .u-text-7 {
    font-size: 1.5rem;
    width: 100px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-8 {
    font-size: 0.875rem;
    margin-top: 9px;
    margin-left: 46px;
    margin-right: 46px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 508px;
  }

  .u-section-2 .u-list-1 {
    width: 550px;
    margin: 45px auto;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 349px;
    grid-template-columns: calc(50% - 50px) calc(50% - 50px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-bottom: 0;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-left: 12px;
    margin-right: 12px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 883px;
  }

  .u-section-2 .u-list-1 {
    width: 148px;
  }

  .u-section-2 .u-repeater-1 {
    grid-gap: 31px 31px;
    min-height: 793px;
    grid-template-columns: 100%;
  }

  .u-section-2 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-list-1 {
    height: auto;
  }

  .u-section-2 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 6px;
    margin-right: 6px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 307px;
}

.u-section-3 .u-list-1 {
  width: 436px;
  margin: 50px auto;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  grid-gap: 10px 10px;
  min-height: 207px;
}

.u-section-3 .u-container-layout-1 {
  padding: 27px 0;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
  margin: 0 auto;
}

.u-section-3 .u-container-layout-2 {
  padding: 27px 0;
}

.u-section-3 .u-btn-2 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
  margin: 0 auto;
}

.u-section-3 .u-container-layout-3 {
  padding: 27px 0;
}

.u-section-3 .u-btn-3 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
  margin: 0 auto;
}

.u-section-3 .u-container-layout-4 {
  padding: 27px 0;
}

.u-section-3 .u-btn-4 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 370px;
  }

  .u-section-3 .u-list-1 {
    width: 440px;
    margin-top: 58px;
    margin-bottom: 58px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 254px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 386px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 394px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 470px;
  }

  .u-section-3 .u-list-1 {
    height: auto;
    width: 340px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 407px;
}

.u-section-4 .u-table-1 {
  width: 602px;
  margin: 29px auto 57px;
}

.u-section-4 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-4 .u-table-header-1 {
  background-image: none;
  font-weight: 700;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 379px;
  }

  .u-section-4 .u-table-1 {
    margin-top: 1px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-table-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-table-1 {
    width: 340px;
    margin: 0 0 60px;
  }
}

.collapsible {
  background-color: #4b6256;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.activeCollapsible:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
  /* background-color: #555; */
}